@font-face {
  font-family: "Sketch Block";
  src: url("http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot");
  src: url("http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot?#iefix") format("embedded-opentype"), url("http://tangledindesign.com/codepen/fonts/sketch_block-webfont.woff") format("woff"), url("http://tangledindesign.com/codepen/fonts/sketch_block-webfont.ttf") format("truetype"), url("http://tangledindesign.com/codepen/fonts/sketch_block-webfont.svg#SketchBlockBold") format("svg");
}
@font-face {
  font-family: "Museo 700";
  src: url("http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot");
  src: url("http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.woff") format("woff"), url("http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.ttf") format("truetype"), url("http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.svg#SketchBlockBold") format("svg");
}
@font-face {
  font-family: "CallunaRegular";
  src: url("http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot");
  src: url("http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.woff") format("woff"), url("http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.ttf") format("truetype"), url("http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.svg#CallunaRegular") format("svg");
}
.workspace {
  font-size: 0.5rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.scene {
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 30em;
  /*    overflow: hidden;*/
  perspective: 600px;
  perspective-origin: 50% 10%;
}

/* ====================================================
    Desk
======================================================= */
.desk {
  width: 40em;
  height: 20em;
  transform: rotateX(90deg) translateY(0);
}

.face {
  background-color: #95e0e9;
}

.front,
.back {
  width: 100%;
  height: 100%;
}

.top,
.bottom {
  width: 100%;
  height: 2em;
}

.right,
.left {
  width: 2em;
  height: 100%;
}

/* --- Faces --- */
.front {
  transform: translateZ(1em);
}

.back {
  transform: rotateY(180deg) translateZ(1em);
}

.top {
  transform: rotateX(90deg) translateZ(1em);
}

.bottom {
  transform: rotateX(-90deg) translateZ(19em);
}

.right {
  transform: rotateY(90deg) translateZ(39em);
}

.left {
  transform: rotateY(-90deg) translateZ(1em);
}

/* ====================================================
    Laptop
======================================================= */
.laptop {
  width: 16em;
  height: 9.6em;
  transform: translate3d(0em, -12em, -4em);
  /* -6 */
}

/* ------------------------------------------
    Keyboard - Screen
--------------------------------------------- */
.keyboard,
.screen {
  width: 100%;
  height: 100%;
}

.keyboard {
  transform: rotateX(90deg) translate3d(0, 5.2em, -5.2em);
}

.screen {
  transform-origin: 50% 100%;
  transform: rotateX(0) translate3d(0, 0, 0);
  transition: transform 0.4s;
}

.screen:hover {
  transform: rotateX(5deg) translate3d(0, 0, 0);
}

.keyboard-face,
.screen-face {
  background-color: #0d3a3f;
}

/* --- Faces --- */
.keyboard-front,
.keyboard-back,
.screen-front,
.screen-back {
  width: 100%;
  height: 100%;
}

.keyboard-top,
.keyboard-bottom,
.screen-top,
.screen-bottom {
  width: 100%;
  height: 0.8em;
}

.keyboard-right,
.keyboard-left,
.screen-left,
.screen-right {
  width: 0.8em;
  height: 100%;
}

/* --- Faces Positioning --- */
.keyboard-front,
.screen-front {
  transform: translateZ(0.4em);
}

.keyboard-back,
.screen-back {
  transform: rotateY(180deg) translateZ(0.4em);
}

.keyboard-top,
.screen-top {
  transform: rotateX(90deg) translateZ(0.4em);
}

.keyboard-bottom,
.screen-bottom {
  transform: rotateX(-90deg) translateZ(9.2em);
}

.keyboard-right,
.screen-right {
  transform: rotateY(90deg) translateZ(15.6em);
}

.keyboard-left,
.screen-left {
  transform: rotateY(-90deg) translateZ(0.4em);
}

/* --- Power Button --- */
.power-button {
  width: 1.05em;
  height: 1.05em;
  margin: 0.9em 1.5em;
  background-color: #1e8794;
}

/* --- Buttons Grid --- */
.buttons-grid {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.row {
  flex-basis: 1.05em;
  width: 12.6em;
}

.button {
  flex-grow: 1;
}

.space {
  flex-grow: 6;
}

.enter {
  flex-grow: 2;
}

.power-button,
.button {
  background-color: #1e8794;
}

.power-button:hover,
.button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.power-button:active,
.button:active {
  background-color: rgba(255, 255, 255, 0.8);
}

/* --- Viewport --- */
.viewport {
  margin: auto;
  width: 14em;
  height: 7.6em;
  background: #eee url(https://image.ibb.co/i0gGaH/tags.png) no-repeat 50% 50%;
  background-size: 5em 5em;
  box-shadow: inset 0 0 20px 3px rgba(0, 0, 0, 0.5);
}

/* ====================================================
    Nail
======================================================= */
.nail {
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background-color: #3b2212;
  transform: translate3d(12.1em, -26.5em, -18em);
}

/* ====================================================
    Portrait
======================================================= */
.portrait {
  width: 14em;
  height: 10em;
  transform-origin: 50% -1.75em;
  transform: translate3d(12em, -15em, -18em);
  transition: transform 0.3s;
}

.portrait:hover {
  transform: translate3d(12em, -15em, -18em) rotate(4deg);
}

.portrait-face {
  background: #16606a;
}

/* --- Faces --- */
.portrait-front,
.portrait-back {
  width: 100%;
  height: 100%;
}

.portrait-top,
.portrait-bottom {
  width: 100%;
  height: 1em;
}

.portrait-right,
.portrait-left {
  width: 1em;
  height: 100%;
}

/* --- Faces Positioning --- */
.portrait-front {
  transform: translateZ(0.5em);
}

.portrait-back {
  transform: rotateY(180deg) translateZ(0.5em);
}

.portrait-top {
  transform: rotateX(90deg) translateZ(0.5em);
}

.portrait-bottom {
  transform: rotateX(-90deg) translateZ(9.5em);
}

.portrait-right {
  transform: rotateY(90deg) translateZ(13.5em);
}

.portrait-left {
  transform: rotateY(-90deg) translateZ(0.5em);
}

/* --- Picture --- */
.photo {
  width: 12em;
  height: 8em;
  background: url(https://image.ibb.co/nL5pUc/akasaka.jpg) no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 20px 0.5px rgba(0, 0, 0, 0.5);
  margin: auto;
}

/* --- Threads --- */
.thread {
  width: 0.15em;
  height: 2.5em;
  background-color: #3b2212;
  transform-origin: 0 0;
}

.thread:nth-child(1) {
  transform: translate3d(7em, -1.75em, 0) rotate(45deg);
}

.thread:nth-child(2) {
  transform: translate3d(7em, -1.75em, 0) rotate(-45deg);
}

/* ====================================================
    Papers
======================================================= */
.papers {
  width: 7em;
  height: 10em;
  transform: rotateX(90deg) translate3d(10em, 2em, 6em);
}

.paper {
  width: 100%;
  height: 100%;
  padding: 0.7em;
  background-color: #fff;
  transition: transform 0.3s;
}

.paper-1 {
  transform: translateZ(-0.06em);
}

.paper-2 {
  transform: translateZ(-0.04em);
}

.paper-3 {
  transform: translateZ(-0.02em);
}

.papers:hover .paper-3 {
  transform: rotateZ(3deg) translateZ(-0.02em);
}

.paper-5 {
  transform: translateZ(0.02em);
}

.papers:hover .paper-5 {
  transform: rotateZ(6deg) translateZ(0.02em);
}

.paper-6 {
  transform: rotateZ(0) translateZ(0.04em);
  transform-origin: 100% 100%;
}

.papers:hover .paper-6 {
  transform: rotateZ(9deg) translateZ(0.04em);
}

.line {
  flex-grow: 1;
  border-bottom: 0.01em solid #ddd;
}

/* ====================================================
    Shadows & Highlights
======================================================= */
.workspace::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: calc(1000px - 2rem);
  background: #eaf9fb radial-gradient(circle at 30% 30%, #fff, transparent);
}

/* --- Desk Highlights --- */
.front {
  background-image: radial-gradient(circle at 0% 100%, rgba(255, 255, 255, 0.8), transparent);
}

.bottom {
  background-image: radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 0.8), transparent);
}

/* --- Laptop Highlights & Shadows --- */
.keyboard-front {
  background-image: radial-gradient(circle at 0% 100%, rgba(255, 255, 255, 0.2), transparent);
}

.screen-front {
  background-image: radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 0.3), transparent);
}

.keyboard-back {
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.4), 0px -70px 20px rgba(0, 0, 0, 0.4);
}

/* -- Portrait Shadow --- */
.portrait {
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.3);
}

/* --- Papers Shadow --- */
.paper {
  box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.05);
}

/* ====================================================
    DRY
======================================================= */
/* --- Laptop Border --- */
.keyboard-face,
.screen-face,
.power-button,
.button,
.viewport {
  border: 0.001em solid #041315;
}

/* --- Desk Border --- */
.face {
  border: 0.001em solid #27adbe;
}

/* --- Portrait Border --- */
.portrait-front,
.photo {
  border: 0.28em solid #041315;
}

/* --- 3D Space --- */
.scene,
.desk,
.laptop,
.screen,
.keyboard,
.portrait,
.papers {
  transform-style: preserve-3d;
}

/* --- Absolute Positioned Elements --- */
.face,
.laptop,
.screen,
.keyboard,
.screen-face,
.keyboard-face,
.portrait,
.portrait-face,
.thread,
.nail,
.papers,
.paper {
  position: absolute;
}

/* --- Relative Positioned Elements --- */
.scene,
.workspace,
.desk,
.container {
  position: relative;
}

/* --- Flex Containers --- */
.workspace,
.scene,
.screen-front,
.keyboard-front,
.buttons-grid,
.row,
.portrait-front,
.paper {
  display: flex;
}

.keyboard-front,
.buttons-grid,
.paper {
  flex-direction: column;
}

/* --- Hidden Elements --- */
.papers,
.portrait,
.nail {
  display: none;
}

/* ====================================================
    Key Frames
======================================================= */
@-webkit-keyframes desk {
  0% {
    transform: rotateX(90deg) translateY(32em);
  }
}
@keyframes desk {
  0% {
    transform: rotateX(90deg) translateY(32em);
  }
}
@-webkit-keyframes laptop {
  0% {
    transform: translate3d(-6em, -12em, 24rem);
  }
}
@keyframes laptop {
  0% {
    transform: translate3d(-6em, -12em, 24rem);
  }
}
@-webkit-keyframes open {
  0% {
    transform: rotateX(-90deg) translate3d(0, -0.4em, -0.4em);
  }
}
@keyframes open {
  0% {
    transform: rotateX(-90deg) translate3d(0, -0.4em, -0.4em);
  }
}
@-webkit-keyframes screen {
  0% {
    background: #333;
  }
}
@keyframes screen {
  0% {
    background: #333;
  }
}
@-webkit-keyframes papers {
  0% {
    transform: rotateX(90deg) translate3d(10em, 26rem, 6em);
  }
}
@keyframes papers {
  0% {
    transform: rotateX(90deg) translate3d(10em, 26rem, 6em);
  }
}
@-webkit-keyframes fall {
  0% {
    transform: translate3d(12em, -32em, -18em);
  }
}
@keyframes fall {
  0% {
    transform: translate3d(12em, -32em, -18em);
  }
}
/* ====================================================
    Animations
======================================================= */
.desk {
  -webkit-animation: desk 0.6s cubic-bezier(0.48, 1.46, 0.68, 1) backwards;
          animation: desk 0.6s cubic-bezier(0.48, 1.46, 0.68, 1) backwards;
}

.laptop {
  -webkit-animation: laptop 0.6s cubic-bezier(0.48, 1.46, 0.68, 1) 0.6s backwards;
          animation: laptop 0.6s cubic-bezier(0.48, 1.46, 0.68, 1) 0.6s backwards;
}

.screen {
  -webkit-animation: open 0.8s backwards 1.2s;
          animation: open 0.8s backwards 1.2s;
}

.viewport {
  -webkit-animation: screen 0s backwards 2s;
          animation: screen 0s backwards 2s;
}

.papers {
  -webkit-animation: papers 1s backwards 1.8s;
          animation: papers 1s backwards 1.8s;
}

.portrait {
  -webkit-animation: fall 0.4s backwards 2.7s;
          animation: fall 0.4s backwards 2.7s;
}

/* ====================================================
    Media Queries
======================================================= */
@media (min-width: 270px) {
  .workspace {
    font-size: 0.7rem;
  }
}
@media (min-width: 545px) {
  .laptop {
    transform: translate3d(-6em, -12em, -4em);
  }

  .papers,
.portrait,
.nail {
    display: block;
  }
}
@media (min-width: 791px) {
  .workspace {
    font-size: 0.8rem;
  }
}
@media (min-width: 900px) {
  .workspace {
    font-size: 0.9rem;
  }
}
@media (min-width: 1000px) {
  .workspace {
    font-size: 1rem;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
/*body {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}*/
.anim {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}
.anim:after {
  -webkit-animation: blink 1000ms infinite;
          animation: blink 1000ms infinite;
  background-color: #535353;
  content: "";
  height: 100%;
  left: 100%;
  position: absolute;
  top: 0;
  width: 4px;
}

h1 {
  color: #535353;
  font-family: "Lucida Handwriting", "Brush Script MT";
  /*font-family: "Josefin Sans", sans-serif;*/
  /*font-style: italic;*/
  /*font-family: 'Playfair Display', serif;*/
  letter-spacing: 0.2rem;
  margin: 0;
  /*font: 2em "Museo 700";*/
  font-weight: bold;
  /*font: 'Oleo Script', Helvetica, sans-serif;*/
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  /*text-transform: uppercase;*/
}